.circle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    z-index: 20; /* Ensure the circles are above the hero content */
}

.circle-1{
    height: 100px;
    width: 100px;
    background-color: #F2BB78;
    border-radius: 50%; 
    overflow: hidden;
    transform: translateX(-50%);
    position: absolute;
    left: 100%;
} 

.circle-2{
    transform: translateX(-50%);
    position: absolute;
    left: 98%;
}


.circle-3{
    transform: translateX(-50%);
    position: absolute;
    left: 97%;
}

.circle-4{
    transform: translateX(-50%);
    position: absolute;
    left: 99%;
}

.circle-5{
    height: 350px;
    width: 350px;
    border-radius: 50%; 
    border: 4px solid;
    overflow: hidden;
    transform: translateX(-50%);
    position: absolute;
    left: 100%;
    border-color: #F2BB78; 
    left: 101%;
}

.circle-6-wrapper {
    overflow:visible;
    position: absolute;
    left: 100%;
    transform: translateX(-45%); /* less clipping */
  }
  
  .circle-6 {
    height: 435px;
    width: 435px;
    border-radius: 50%;
    border: 6px dashed #F2BB78;
  
    /* spin animation */
    animation: spin 40s linear infinite;
    transform-origin: center;
  
    /* flip horizontally to keep the clipped half on the right */
    transform: scaleX(-1);
  }

.circle-7{
    height: 475px;
    width: 475px;
    border-radius: 50%; 
    border: 1px solid;
    overflow: hidden;
    transform: translateX(-47%);
    position: absolute;
    left: 100%;
    border-color: #F2BB78; 
}

.circle-8{
    height: 500px;
    width: 500px;
    border-radius: 50%; 
    border: 4px solid;
    overflow: hidden;
    transform: translateX(-47%);
    position: absolute;
    left: 100%;
    border-color: #F2BB78; 
}

.circle-9{
    transform: translateX(-50%);
    position: absolute;
    left: 98%;
}

/* Add styles for other circles as needed */

@keyframes spin {
    from {
      transform: scaleX(-1) rotate(0deg);
    }
    to {
      transform: scaleX(-1) rotate(360deg);
    }
  }
  