/* ~Contact Section Styling~ */
.contact {
    position: relative;
    width: 100vw;
    min-height: 80vh;
    background: linear-gradient(270deg, #0c0824 -4%, #1b163e 132.9%);
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contact-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/Stars About.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.box {
    border: 2px solid #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 5px 10px;
    gap: 10px;
}

.contact h2 {
    color: #FFF;
    font-family: "Libre Caslon Text", serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    margin-bottom: -20px;
}

.contact p {
    color: #FFF;
    font-family: "Red Hat Display", sans-serif;
    font-size: 4vw;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    padding: 10px;
}

.contact p1 {
    color: #FFF;
    font-family: "Red Hat Display", sans-serif;
    opacity: 0.5;
    font-size: 3vw;
    font-style: normal;
    line-height: normal;
    margin: 0px;
    padding-bottom: 20px;
}

.contact a {
    text-decoration: none;
    color: inherit;
}

/* ~Contact Section Styling: Medium Screens~ */
@media (max-width: 768px) {
    .contact h2 {
        font-size: 8vw;
    }

    .contact p {
        font-size: 5vw;
    }

    .contact p1 {
        font-size: 4vw;
    }

    .box {
        padding: 10px;
        gap: 15px;
    }
}

/* ~Contact Section Styling: Small Screens~ */
@media (max-width: 480px) {
    .contact h2 {
        font-size: 10vw;
    }

    .contact p {
        font-size: 6vw;
    }

    .contact p1 {
        font-size: 5vw;
    }

    .box {
        padding: 15px;
        gap: 20px;
    }
}
