/* ~Import Fonts~ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* ~Navbar Container~ */
nav {
    width: 100%;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5000;
    padding: 10px 20px;
    background: linear-gradient(
        rgba(24, 18, 64, 0.8),
        rgba(24, 18, 64, 0)
    );
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* ~Logo~ */
.logo {
    width: 60px;
    height: 60px;
}

/* ~Menu List~ */
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-family: "Red Hat Display";
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

/* ~Links Styling~ */
nav a {
    font-size: 16px;
    font-family: "Red Hat Display";
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: color 0.3s, background 0.3s;
}

nav a:hover {
    color: #F2BB78;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

/* ~Smooth Scroll~ */
html {
    scroll-behavior: smooth;
}

/* ~Responsive Navbar: Tablets & Mobile~ */
@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        padding: 10px;
    }

    .logo {
        margin-right: auto;
    }

    nav ul {
        display: none;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        overflow-y: auto;
        overflow-x: hidden;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    nav ul.show {
        display: flex;
        transform: translateX(0);
    }

    nav ul li {
        margin: 20px 0;
        text-align: center;
        width: 100%;
    }

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 24px;
        color: #FFF;
        cursor: pointer;
        z-index: 1001;
    }
}

/* ~Responsive Navbar: Desktop~ */
@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
