/* ~About Section Styling~ */
.about {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(270deg, #0c0824 -4%, #1b163e 132.9%);
    margin: 0;
    padding: 0;
    border: 0;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.about-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/Stars About.png') no-repeat center center;
    background-size: cover;
    z-index: 1;
}

.about-box {
    position: relative; 
    border: 4px solid white;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 60px;
    margin-right: 60px;
    z-index: 2;
}

.about-box2 {
    position: relative;
    border: 4px dashed white;
    border-top-left-radius: 10000px;
    border-bottom-left-radius: 10000px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-top: 40px;
    margin-left: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 3;
}

.circle {
    border: 4px solid white;
    border-radius: 100%;
    width: 350px;
    height: 350px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    position: relative;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.0) translateX(0%);
    transition: transform 0.3s ease;
}

.about-text {
    text-align: left;
    max-width: 500px;
}

.about-text h1 {
    color: #FFF;
    font-family: "Quagera";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.about-text p {
    color: #FFF;
    font-family: "Red Hat Display";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0;
    margin: 0;
    width: auto;
    overflow: auto;
}

/* ~About Section Styling: Medium Screens~ */
@media (max-width: 1150px),
       (max-width: 768px) {
    .circle {
        width: 200px;
        height: 200px;
        margin: 0 auto 20px;
    }

    .about-content {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}

@media (max-width: 1150px) {
    .about-box,
    .about-box2 {
        border-radius: 0;
        padding: 20px;
        margin: 20px 20px;
    }

    .circle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .about-text {
        margin-left: 0;
        text-align: center;
    }
}

/* ~About Section Styling: Mobile Screens~ */
@media (max-width: 768px) {
    .about-box,
    .about-box2 {
        border-radius: 0;
        padding: 20px;
        margin: 20px 20px;
    }

    .about-text {
        text-align: center;
    }
}
