*{
    -ms-overflow-style: none;
    overflow-x: hidden;
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    display: none;
}

body, a, button, .projects {
    cursor: none; /* hide default cursor */
  }
  